<div class="container">
  <div class="row">
  <br>
  <h1>Los Pins del usuario <%= @user_id %></h1>
  <br>
  <br>

  <% @pins.each do |pin| %>
   <div class="col-md-3">
    <div class="thumbnail">
      <center><%= pin.name %></center>
      <%= image_tag(pin.photo, :class => 'img-responsive') %>
      <center><%= pin.description %></center>
      <center><div class="buttons" style="margin-top:10px; margin-bottom:10px">
      <%= link_to 'Show', pin, :class => 'btn' %>
      <% if user_signed_in? %>
      <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn' %>
      <% end %>
      <% if user_signed_in? %>
      <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
      <% end %>
    </div></center>
    </div>
  </div>
<% end %>


<br>

<% if user_signed_in? %>
<%= link_to 'New Pin', new_pin_path, :class => 'btn' %>
<% end %>
</div>
</div>
