
<div class="jumbotron">
   <div class="container">
    <h1>Proyecto Tipo Pinterest</h1>
    <h2>Welcome</h2>
    <p>...</p>
    <p><a class="btn btn-default" style="font-size:30px;" href="#" role="button">Más
     <span class="glyphicon glyphicon-share-alt" style="color:orange; font-size:40px;"> </span> </a></p>
   </div>
</div>


<div class="grid" style="margin-left:3%" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
  <% @pins.each do |pin| %>
    <div class="grid-item">
<br>
      <center><%= pin.name %></center>
      <center><%= image_tag(pin.photo) %></center>
      <center><%= pin.description %></center>
      <div class="panel-body"

       <center><div class="buttons" style="margin-top:10px; margin-bottom:10px">
       <center><%= link_to 'Show', pin, :class => 'btn' %></center>
       <center><div><% if user_signed_in? %>
       <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn' %>
       <% end %>
       <% if user_signed_in? %>
       <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
       <% end %></div></center>
     </div></center>
      </div>

    </div>


<% end %>
</div>
